/*
Resources
*/

.gif{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*
Text Styles
*/

h1{
    text-align: center;
}

#container h2{
    padding: 0rem 0.5rem 0rem 0rem;
}

#container br{
    display: none;
}